article {
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
.menu {
  display: inline-flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 60vh;
  margin-right: 16px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
#menu1 {
  margin-left: 16px;
  background-image: url(../img/mobile/menu/img1.png);
}
#menu2 {
  background-image: url(../img/mobile/menu/img2.png);
}
#menu3 {
  background-image: url(../img/mobile/menu/img3.png);
}
#menu4 {
  background-image: url(../img/mobile/menu/img4.png);
}
.subWrap {
  width: 316px;
  height: 506px;
}
.box1 {
  text-align: left;
  margin-top: 24px;
  margin-left: 24px;
}
.menuT {
  margin-top: 16px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.box2 {
  position: absolute;
  display: flex;
  width: 268px;
  justify-content: space-between;
  right: 24px;
  bottom: 24px;
}
.menuH {
  color: white;
  font-size: 28px;
  font-weight: 700;
  float: left;
}